<!doctype html>
<html lang="zh-CN" th:lang="${#locale.toLanguageTag()}" data-color-scheme="dark" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="head">
      <title th:text="${site.title}">山月记</title>
    </slot>
    <script type="module" src="/js/main.ts"></script>
  </head>
  <body data-template="error">
    <main class="site-main" id="content">
      <slot />
    </main>
    <include src="footer.html"></include>
  </body>
</html>
